---
layout: default
permalink: "/javascript/"
trackColor: blue
title: Learn Full-stack Web Development | JavaScript Classes with Austin Coding Academy
img: "/assets/images/header-javascript.jpg"
redirect_from: []
hero: js
skills: React.js or Node.js
scroll_offset_header: 0.09
description: Learn one of the most versatile &amp; common programming languages with
  Austin Code Academy’s JavaScript track. You’ll go from beginner to advanced within
  a year - all without quitting your day job. Enroll today!
hero_text: Learn the most popular language for making websites, web apps, games, animations,
  and mobile applications. In this track you'll learn front-end and back-end JavaScript,
  some of today's most versatile and sought-after skills.
courses:
- code: Web 101
  title: Intro to Web Development
  description: Intro to Web Development
  sections:
  - start: May 29, 2019
    end: July 24, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: June 25, 2019
    end: August 22, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - HTML5 + all new HTML5 APIs
  - CSS3 + Animations and Transitions
  - Version Control Software - Git
  - Responsive Web Design
  - JavaScript Basics &amp; DOM Manipulation
  - Input Control and Form Submissions
- code: JS 211
  title: JavaScript Language Basics
  description: JavaScript Language Basics
  sections:
  - start: July 29, 2019
    end: September 25, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: August 27, 2019
    end: 'October 17, 2019 '
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Immersion in Object Oriented Programming (OOP)
  - Build Unit Testing + Test Driven Development (TDD)
  - Master Callbacks and Functional Programming
  - Interact with remote APIs and manipulate data
- code: JS 311
  title: Back-End JavaScript
  description: Back-End JavaScript
  sections:
  - start: September 30, 2019
    end: November 20, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: 'Downtown Capital Factory Campus '
  - start: October 22, 2019
    end: December 19, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Shape your own SQL Database
  - Serve Express.js routes
  - Harness the power of Node.js
  - MVC - Model, View, Controller
  - Deploy your own Node Modules
  - Learn to host, deploy and manage your web applications
- code: JS 411
  title: Javascript Front-End
  description: Javascript Front-End
  sections:
  - start: December 2, 2019
    end: February 5, 2020
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: January 6, 2020
    end: February 27, 2020
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Build mobile apps with React &amp; React Native
  - Maintain app state with Redux
  - Build Production grade Apps with Webpack
  - Handle Client-Side Routing
  - Expand your knowledge of Git
  - Deep-Dive into HTTPS protocol
- code: Job 501
  title: Job Placement Course
  description: Job Placement Course
  sections:
  - start: February 10, 2020
    end: March 4, 2020
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: March 9, 2020
    end: April 2, 2020
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    campus: North Austin Highland Campus
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
  list:
  - Technical interview prep
  - White-boarding practice and feedback
  - Portfolio support
  - Resume building
  - Networking opportunities and strategies
  - Job-finding strategies

---
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  {% include scrolling-menu-observer.html %}
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
    Full-stack Web Development Track
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
</div>

<main>

  {% include scrolling-menu-disappearing.html %}
  {% include observer-and-header-animation.html %}

  <div class="container-fluid">
    <div class="row w-100 h-100 fixed-top pointer-events-none">
      <div class="d-none d-md-inline col-md-2 mw-10r">
        {% include scrolling-menu.html %}
      </div>
    </div>
  </div>

  <section id="curriculum" class="pt-11 container-fluid">
    {% include scrolling-menu-animation.html id="curriculum" %}
    <div class="row">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8 pl-5">
        <div class="mt-3 mb-6 text-center mx-auto">
          <h2 class="font-family-alt display-5">
            Our Web Development Curriculum
          </h2>
          <p class="mw-600 mx-auto">
            Our full track is composed of 5 courses, designed to take you from
            beginner to job-ready in under a year, without having to quit your day job
            or mortgage your future. If you're looking to level-up in your current job,
            you can also apply to take any of these courses individually.
          </p>
        </div>

        <div class="pl-11 mx-auto mw-600">
          {% for course in page.courses %}
            <h4 class="display-7">
              <!-- htmllint preset="none" -->
              <i class="fas fa-circle text-{{page.trackColor}}"></i>
              <!-- htmllint preset="$previous" -->
              {{course.code}}: <b>{{course.title}}</b>
            </h4>
            <ul class="fa-ul">
              {% for item in course.list %}
              <li class="mb-1"><span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{item}}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  <section id="course-guide" class="container-fluid py-11 mb-6">
    {% include scrolling-menu-animation.html id="course-guide" %}
    <div class="pt-3"></div>
    <div class="row">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        {% include course-guide-form.html %}
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="options" class="{{page.hero}}-gradient text-white my-5">
  <!-- htmllint preset="$previous" -->
    {% include scrolling-menu-animation.html id="options" %}
    <div class="container-fluid py-11">
      <div class="row">
        <div class="d-none d-md-inline col-md-2 mw-10r"></div>
        <div class="col-md-8">
          <h2 class="font-family-alt font-weight-bold text-center display-6 mt-3 mb-5">
            Take Our Full Track and Save
          </h2>
          <!-- Pricing Section -->
          <div class="mb-5">
            <div class="w-lg-80 mx-lg-auto">
              <div class="card-deck d-flex justify-content-center align-items-center card-md-gutters-3 mb-5">
                <!-- Pricing -->
                <div class="card shadow-black text-center mb-5 mb-md-0">
                  <!-- Header -->
                  <header class="card-header p-4">
                    <div class="shadow-dark rounded p-2">
                      <!-- htmllint preset="none" -->
                      <h5 class="text-default">
                        Full Track
                      </h5>
                      <!-- htmllint preset="$previous" -->
                      <div>
                        <span class="h1 text-default font-weight-medium">
                          <span class="align-top font-size-2">$</span>10,960
                        </span>
                      </div>
                    </div>
                  </header>
                  <!-- End Header -->
                  <!-- Content -->
                  <div class="card-body p-5 text-center">
                    <p>
                      Save $1,000 off the cost of individual classes and go from complete
                      beginner to job-ready in just 36 weeks with our full web development track!
                    </p>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
                <!-- Pricing -->
                <div class="card shadow-black text-center">
                  <!-- Header -->
                  <header class="card-header p-5">
                    <h5 class="text-default">
                      Single Class
                    </h5>
                    <div>
                      <span class="h1 text-default font-weight-medium">
                        <span class="align-top font-size-2">$</span>2,990
                      </span>
                    </div>
                  </header>
                  <!-- End Header -->
                  <!-- Content -->
                  <div class="card-body p-5 text-center">
                    <p>
                      Level-up your career and apply to one of our single classes. You can
                      learn Front-End, {{page.skills}} without completing the entire
                      track. <br />
                    </p>
                  </div>
                  <!-- End Content -->
                </div>
                <!-- End Pricing -->
              </div>
            </div>
          </div>
          <!-- End Pricing Section -->
          <div class="d-flex flex-column align-items-center">
            <h4 class="font-family-alt font-weight-bold display-7">
              Need Help With Tuition?
            </h4>
            <a class="text-white link-underlined" href="/financing">
              <h5>
                View Financing Options
                <span class="fas fa-arrow-right small"></span>
              </h5>
            </a>
          </div>
        </div>
        <div class="d-none d-md-inline col-md-2"></div>
      </div>
    </div>
  </section>

  <section id="dates" class="py-11 mb-6">
    {% include scrolling-menu-animation.html id="dates" %}
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="d-none d-md-inline col-md-2 mw-10r"></div>
        <div class="col-md-8">
          {% include course-dates.html %}
        </div>
        <div class="d-none d-md-inline col-md-2"></div>
      </div>
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="campuses" class="{{page.hero}}-gradient container-fluid text-white my-5">
  <!-- htmllint preset="$previous" -->
    {% include scrolling-menu-animation.html id="campuses" %}
    <div class="row py-11">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <div class="d-flex justify-content-center mt-3">
          <h2 class="mx-auto mb-5 display-6 font-family-alt font-weight-bold">
            Learn at One of Our Two Locations
          </h2>
        </div>
        <div class="row text-center">
          <div class="col-12 col-md">
            <div class="mb-2">
              <h5 class="font-weight-bold m-0">
                Downtown
              </h5>
              <small>
                Capital Factory, 701 Brazos St, Ste 1616<br>
                Austin, TX 78701
              </small>
            </div>
            <amp-iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.884212774376!2d-97.74275278540087!3d30.26888011489123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b4e31ad087bd%3A0xd6644ce54fe2531c!2sAustin+Coding+Academy!5e0!3m2!1sen!2sus!4v1547074227021"
              width="525"
              height="242"
              layout="responsive"
              sandbox="allow-scripts allow-same-origin"
              frameborder="0"
              class="shadow-black border-0"
              allowfullscreen>
            </amp-iframe>
          </div>
          <div class="col-12 col-md mt-5 mt-md-0">
            <div class="mb-2">
              <h5 class="font-weight-bold m-0">
                Highland
              </h5>
              <small>
                314 E Highland Mall Blvd, Ste 114<br>
                Austin, TX 78752
              </small>
            </div>
            <amp-iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110200.41214904394!2d-97.78151655754779!3d30.32926183845195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cba00a32dc3d%3A0x8807e75b730c450f!2sNorth+Austin+Coding+Academy!5e0!3m2!1sen!2sus!4v1547074172078"
              width="525"
              height="242"
              layout="responsive"
              sandbox="allow-scripts allow-same-origin"
              frameborder="0"
              class="shadow-black border-0"
              allowfullscreen>
            </amp-iframe>
          </div>
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  <section id="contact" class="container-fluid py-11">
    <!-- htmllint preset="none" -->
    {% include scrolling-menu-animation.html id="contact" %}
    <div class="row d-flex flex-column justify-content-center align-items-center mx-auto mt-3">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <h2 class="font-family-alt font-weight-bold text-center display-6">
          Still Have Questions?
        </h2>
        <div class="mw-600 mx-auto p-2 p-md-0">
          <h5 class="mb-4 text-center">
            From choosing the right course to understanding course details, we're here
            to help.
          </h5>
          {% include contact-form.html %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ section.campus }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ section.address }}",
              "addressLocality": "Austin"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "Austin Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-aca.png"
        }
      }
    }
    </script>
  {% endfor %}

</main>