<div class="col-12">
  <!-- htmllint preset="none" -->
  <p class="small text-center mx-auto mw-400">
    By submitting your information, you agree to our <a class="{{include.class}}" href="https://discourse.austincodingacademy.com/tos">Terms of Service</a> and <a class="{{include.class}}" href="https://discourse.austincodingacademy.com/privacy">Privacy Policy</a>, and to receive marketing communications from Austin Coding Academy.
  </p>
  <!-- htmllint preset="$previous" -->
  <p class="small text-muted text-center mx-auto mb-0 mw-400">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </p>
</div>