<!-- ========== HEADER ========== -->
{% if page.hero %}
  {% assign color = 'transparent' %}
{% endif %}
{% unless page.categories contains 'landing' %}
<amp-sidebar
  on="tap:sidebar.open"
  tabindex="-1"
  role="navigation"
  id="sidebar"
  class="m-0 bg-dark d-flex d-md-none row flex-column align-items-start justify-content-start"
  layout="nodisplay"
  side="right">
  {% for item in site.menus.header %}
    <div
      class="mt-4"
      on="tap:sidebar.open"
      role="dialog"
      tabindex="-1"
    >
      {% if item.button %}
        <!-- htmllint preset="none" -->
        <a class="{{ item.button }} hover-white ml-5" href="{{ item.url }}">
        <!-- htmllint preset="$previous" -->
          <span class="text-white hover-white">
            {{ item.title }}
            </span>
        </a>
      {% else %}
        <amp-accordion disable-session-states class="mx-5">
          <section>
            <h5 class="text-center text-white hover-white border btn rounded bg-dark py-1 mb-2" tabindex="0">
              {{item.title}}
            </h5>
            <ul class="list-unstyled text-left pl-3">
              {% if item.links %}
                {% for link in item.links %}
                  <li>
                    <a href="{{link.url}}" class="text-blue hover-white">
                      {{link.title}}
                    </a>
                  </li>
                {% endfor %}
              {% else %}
                {% for section in item.sections %}
                  <li>
                    <span class="border-bottom text-white">
                      {{section.heading}}
                    </span>
                    <ul class="list-unstyled">
                      {% for page in section.pages %}
                        <li>
                          <a href="{{page.url}}" class="text-blue hover-white">
                            {{page.title}}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </section>
        </amp-accordion>
      {% endif %}
    </div>
  {% endfor %}

</amp-sidebar>
{% endunless%}

<!-- htmllint preset="none" -->
<header
  id="header"
  class="fixed-top {% if color == 'transparent' %}u-header--bg-transparent {% else %}u-header--navbar-bg {% endif %}"
>
  {% unless page.categories contains 'landing' %}
  <div id="header-background" class="bg-purple d-block position-absolute w-100 h-100"></div>
  {% endunless %}
  <div
    class="u-header__section bg-{{ color | default: 'purple' }} p-2"
  >
  <!-- htmllint preset="$previous" -->
    <div class="container">
      <!-- Nav -->
      <nav
        class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space"
      >
        <!-- Logo -->
        <a
          class="navbar-logo d-flex"
          href="/"
          aria-label="Logo"
        >
          <amp-img
            width="66px"
            height="66px"
            layout="fixed"
            alt="ACA Home"
            src="/assets/images/logo-aca-white.png"
            class="w-100"
          ></amp-img>
          <span class="sr-only">Austin Coding Academy Logo</span>
        </a>
        <!-- End Logo -->

        {% unless page.categories contains 'landing' %}
        <!-- Responsive Toggle Button -->
        <button
          class="display-5 text-white btn btn-link d-flex justify-content-end d-md-none"
          on="tap:sidebar.open"
          tabindex="0"
          role="button"
        >
          <i class="fas fa-bars" aria-hidden="true"></i><span class="sr-only">Open navigation menu</span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div
          id="nav-bar"
          class="collapse navbar-collapse u-header__navbar-collapse d-none d-md-flex"
        >
          <ul class="navbar-nav u-header__navbar-nav ml-auto">

            {% for item in site.menus.header %}
              {% if item.button %}
                <!-- htmllint preset="none" -->
                <a class="{{ item.button }} hover-white ml-5" href="{{ item.url }}">
                <!-- htmllint preset="$previous" -->
                  <span class="text-white hover-white">
                    {{ item.title }}
                    </span>
                </a>
              {% else %}
                <li class="nav-item u-header__nav-item">
                  <a tabindex="0" class="p-2 mx-2">
                    <span class="text-white hover-white">
                      {{ item.title }} <i class="fas fa-caret-down"></i>
                      </span>
                  </a>
                  <ul class="nav-dropdown position-absolute list-unstyled rounded px-3">
                    {% if item.links %}
                      {% for link in item.links %}
                        {% if link.url != "#" %}
                          <!-- htmllint preset="none" -->
                          <li class="position-relative p-0 my-2">
                          <!-- htmllint preset="$previous" -->
                            <a class="p-0" href="{{ link.url }}">
                              <span class="text-white hover-white">
                                {{ link.title }}
                              </span>
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% for section in item.sections %}
                        <!-- htmllint preset="none" -->
                        <li class="position-relative p-0 my-2">
                        <!-- htmllint preset="$previous" -->
                          <h5 class="small text-yellow border-bottom mb-2 p-0">
                            {{ section.heading | upcase }}
                          </h5>
                          <ul class="list-unstyled">
                            {% for item in section.pages %}
                              {% if item.url != "#" %}
                                <li class="p-0">
                                  <a href="{{item.url}}" class="text-white hover-white">
                                    {{item.title}}
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
        <!-- End Navigation -->
        {% endunless %}
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
