<!-- ========== HEADER ========== -->
{% if page.hero %}
  {% assign color = 'transparent' %}
{% endif %}
{% unless page.categories contains 'landing' %}
<amp-sidebar
  on="tap:sidebar.open"
  tabindex="-1"
  role="navigation"
  id="sidebar"
  class="m-0 bg-dark d-flex d-md-none row flex-column align-items-start justify-content-start"
  layout="nodisplay"
  side="right">
  {% for item in site.menus.header %}
    <div
      class="mt-5 text-left"
      on="tap:sidebar.open"
      role="dialog"
      tabindex="-1"
    >
      {% if item.button %}
        <!-- htmllint preset="none" -->
        <a class="{{ item.button }} hover-white ml-5" href="{{ item.url }}">
        <!-- htmllint preset="$previous" -->
          <span class="text-white hover-white">
            {{ item.title }}
            </span>
        </a>
      {% else %}
        <div class="mx-5 text-white btn btn-round btn-outline">
          <amp-accordion disable-session-states>
            <section>
              <h5>
                {{item.title}}
              </h5>
              <ul class="list-unstyled">
                {% if item.links %}
                  {% for link in item.links %}
                    <li>
                      <a href="{{link.url}}">
                        {{link.title}}
                      </a>
                    </li>
                  {% endfor %}
                {% else %}
                  {% for section in item.sections %}
                    <li>
                      {{section.heading}}
                      <ul class="list-unstyled">
                        {% for page in section.pages %}
                          <li>
                            <a href="{{page.url}}">
                              {{page.title}}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </section>
          </amp-accordion>
        </div>
      {% endif %}
    </div>
  {% endfor %}

</amp-sidebar>
{% endunless%}

<!-- htmllint preset="none" -->
<header
  id="header"
  class="fixed-top {% if color == 'transparent' %}u-header--bg-transparent {% else %}u-header--navbar-bg {% endif %}"
>
  {% unless page.categories contains 'landing' %}
  <div id="header-background" class="bg-purple d-block position-absolute w-100 h-100"></div>
  {% endunless %}
  <div
    class="u-header__section bg-{{ color | default: 'purple' }} p-2"
  >
  <!-- htmllint preset="$previous" -->
    <div class="container">
      <!-- Nav -->
      <nav
        class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space"
      >
        <!-- Logo -->
        <a
          class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-text-white"
          href="/"
          aria-label="Logo"
          style="width:66px; height:66px;"
        >
          <amp-img
            width="66px"
            height="66px"
            layout="fixed"
            alt="ACA Home"
            src="/assets/images/logo-aca-white.png"
            class="w-100"
          ></amp-img>
        </a>
        <!-- End Logo -->

        {% unless page.categories contains 'landing' %}
        <!-- Responsive Toggle Button -->
        <button
          class="display-5 text-white btn btn-link d-flex justify-content-end d-md-none"
          on="tap:sidebar.open"
          tabindex="0"
          role="button"
        >
          <i class="fas fa-bars"></i>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div
          id="nav-bar"
          class="collapse navbar-collapse u-header__navbar-collapse d-none d-md-flex"
        >
          <ul class="navbar-nav u-header__navbar-nav ml-auto">

            {% for item in site.menus.header %}
              {% if item.button %}
                <!-- htmllint preset="none" -->
                <a class="{{ item.button }} hover-white ml-5" href="{{ item.url }}">
                <!-- htmllint preset="$previous" -->
                  <span class="text-white hover-white">
                    {{ item.title }}
                    </span>
                </a>
              {% else %}
                <li class="nav-item u-header__nav-item">
                  <a href="#" class="nav-link u-header__nav-link">
                    <span class="text-white hover-white">
                      {{ item.title }} <i class="fas fa-caret-down"></i>
                      </span>
                  </a>
                  <ul class="d-none nav-dropdown position-absolute list-unstyled rounded p-2">
                    {% if item.links %}
                      {% for link in item.links %}
                        <!-- htmllint preset="none" -->
                        <li class="position-relative p-0{% unless link == item.links.last %} mb-2{% endunless %}">
                        <!-- htmllint preset="$previous" -->
                          <a class="p-0" href="{{ link.url }}">
                            <span class="text-blue hover-white">
                              {{ link.title }}
                            </span>
                          </a>
                        </li>
                      {% endfor %}
                    {% else %}
                      {% for section in item.sections %}
                        <!-- htmllint preset="none" -->
                        <li class="position-relative p-0{% unless section == item.sections.last %} mb-2{% endunless %}">
                        <!-- htmllint preset="$previous" -->
                          <h5 class="text-white border-bottom display-8 p-0">
                            {{ section.heading }}
                          </h5>
                          <ul class="list-unstyled">
                            {% for item in section.pages %}
                              <li class="p-0">
                                <a href="{{item.url}}" class="text-blue hover-white">
                                  {{item.title}}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}

            {% comment %}
            {% for item in site.menus.header %}
              {% if item.children %}
                <li class="nav-item u-header__nav-item">
                  <a href="#" class="nav-link u-header__nav-link">
                    <span class="text-white hover-white">{{ item.title }} <i class="fas fa-caret-down"></i></span>
                  </a>
                  <ul class="d-none position-absolute list-unstyled">
                  {% for child in item.children %}
                    <li class="position-relative py-1 pl-3">
                      <a class="text-white nav-link" href="{{ child.url }}">
                          <span class="text-white hover-white">{{ child.title }}</span>
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
                </li>
              {% else %}
                <!-- htmllint preset="none" -->
                <li class="nav-item u-header__nav-item">
                  {% if item.button %}
                    <a class="{{ item.button }} hover-white mx-3" href="{{ item.url }}">
                  {% else %}
                    <a class="text-white hover-white nav-link u-header__nav-link" href="{{ item.url }}">
                  {% endif %}
                      <span class="text-white">{{ item.title }}</span>
                    </a>
                </li>
                <!-- htmllint preset="$previous" -->
              {% endif %}
            {% endfor %}
            {% endcomment %}

          </ul>
        </div>
        <!-- End Navigation -->
        {% endunless %}
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
