<!-- Input -->
<div class="form-group">
  <!-- htmllint preset="none" -->
  <label class="form-label" for="{{include.id}}">
  <!-- htmllint preset="$previous" -->
    How did you hear about us? <span class="text-red-a">*</span>
  </label>

  <!-- htmllint preset="none" -->
  <select id="{{include.id}}" name="how_did_you_hear_about_us" class="form-control">
  <!-- htmllint preset="$previous" -->

    <option value="" disabled selected>
      Select your answer
    </option>

    <option value="Facebook">
      Facebook
    </option>

    <option value="Instagram">
      Instagram
    </option>

    <option value="Twitter">
      Twitter
    </option>

    <option value="LinkedIn">
      LinkedIn
    </option>

    <option value="Friend / Family">
      Friend / Family
    </option>

    <option value="Search engine">
      Search engine
    </option>

    <option value="ACA event">
      ACA event
    </option>

    <option value="ACA faculty / staff">
      ACA faculty / staff
    </option>

    <option value="ACA student / alumni">
      ACA student / alumni
    </option>

    <option value="News (TV, article)">
      News (TV, article)
    </option>

    <option value="Radio">
      Radio
    </option>

    <option value="Other">
      Other
    </option>

  </select>
</div>
<!-- End Input -->