<!-- htmllint preset="none" -->
<amp-animation id="scrolling-menu-disappearing" layout="nodisplay">
<!-- htmllint preset="$previous" -->
  <script type="application/json">
    {
      "selector": "#scrolling-menu",
      "duration": "150",
      "keyframes": [
        {
          "opacity": "1"
        },
        {
          "opacity": "0"
        }
      ],
      "fill": "both"
    }
  </script>
</amp-animation>

<!-- htmllint preset="none" -->
<amp-animation id="scrolling-menu-appearing" layout="nodisplay">
    <!-- htmllint preset="$previous" -->
      <script type="application/json">
        {
          "selector": "#scrolling-menu",
          "duration": "500",
          "keyframes":
            {
              "opacity": "1"
            },
          "fill": "forwards"
        }
      </script>
    </amp-animation>